codecov==2.0.5
coverage==4.3.4
Django==2.2.24
djangorestframework==3.5.3
ovp-core==1.2.7
ovp-users==1.1.8
ovp-uploads==1.0.4
ovp-organizations==1.0.13
ovp-projects==1.2.12
django-haystack==2.6.0
whoosh==2.7.4
djangorestframework-jwt==1.9.0
